.yzpRange{
	border:1px solid rgb(100,200,200);
	height: 20px;
}
.colorRange{
	background-color:rgb(100,200,200);
	height: 20px;
	float: left;
}
.yzpRange button{
	float: left;
	height: 20px;
	cursor: pointer;
	border: 1px solid rgb(100,200,200);
	background-color: white;
}
